.custom-menu {
    position: fixed;
    z-index: 9999;
    ul {
        list-style-type: none;
        background: #fff;
        padding: 5px 0;
        li {
            padding: 5px 10px;
            .fa {
                margin-right: 10px;
            }
            &:hover {
                color: #007bff !important;
                background: #F1EBEA;
            }
        }
    }
}