.folder-structure {
    list-style-type: none;
    li {
        .folder {
            .fa-folder,
            .fa-folder-open {
                color: #83CADF;
            }
        }
        .file {
            .fa-file {
                color: #8FA4A9;
                font-size: 14px;
                font-weight: 400;
            }
        }
        .folder-name,
        .file-name {
            margin-left: 5px;
        }
        input {
            width: 80%;
        }
        .file,
        .folder {
            width: 100%;
            text-align: left;
            margin: 0;
            padding: 0;
            outline: none;
            border: none;
            background: transparent;
            &:focus {
                background: #007bff !important;
                color: #fff;
            }
            &:hover {
                background: #E5E2E2
            }
        }
    }
}