<ul *ngIf="files" class="folder-structure m-l-15">
    <li *ngFor="let file of files; let index = index">
        <ng-container *ngIf="file.children">
            <div class="folder" tabindex="0" [myDropTarget]="file" [myDraggable]="file" (click)="file.open=!!!file.open" (contextmenu)="showContextMenu ? showOptions($event, 'folder', file, index) : null">
                <i class="fa fa-folder" aria-hidden="true" [ngClass]="{'fa-folder-open':file.open}"></i>
                <span class="folder-name" *ngIf="!file.renaming">{{file.title}}</span>
                <input type="text" [update-item]="file" *ngIf="file.renaming" [value]="file.title">
            </div>
            <div [hidden]="!file.open">
                <Folder [files]="file.children" [showContextMenu]="isTrash ? false : showContextMenu" [isTrash]="isTrash" [allowFileOpen]="allowFileOpen"></Folder>
            </div>
        </ng-container>
        <ng-container *ngIf="!file.children">
            <div class="file" tabindex="0" [myDraggable]="file" (click)="allowFileOpen ? openFile(file) : null" (contextmenu)="showContextMenu ? showOptions($event, 'file', file, index) : null">
                <i class="fa fa-file" aria-hidden="true"></i>
                <span *ngIf="!file.renaming" class="file-name">{{file.file_name}}</span>
                <input type="text" [update-item]="file" *ngIf="file.renaming" [value]="file.file_name">
            </div>
        </ng-container>
    </li>
</ul>