<loader></loader>

<div class="page-header mt-2 mb-3">
    <h1 class="text-center">File Explorer</h1>
</div>

<div class="container explorer">
    <div class="row resizable" *ngIf="tabs">
        <div class="col-md-3">
            <ul class="tabs">
                <li *ngFor="let tab of tabs" class="tab">
                    <div (click)="openTab(tab)">
                        <i class="fa fa-folder" aria-hidden="true" [ngClass]="{'fa-folder-open':tab.open}"></i>
                        <span class="tab-name">{{tab.title}}</span>
                    </div>
                    <div [hidden]="!tab.open" class="tab-content">
                        <Folder [files]="tab.list" [showContextMenu]="tab.showContextMenu" [isTrash]="tab.isTrash"></Folder>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="content-header">
                <h3>Content</h3>
                <Search></Search>
            </div>
            <File-View></File-View>
        </div>
    </div>

</div>